# These values are picked first. If this file does not exist, it will source them from /etc/awesome-personal-list/awesome-personal-list.conf instead.
# Vars: AWESOME_PERSONAL_LIST_ADMIN_USER/PASSWORD (first run, password ≥8), BIND, PORT, SWH_API_TOKEN, GITHUB_TOKEN, GITLAB_TOKEN, EXPORT_PATH.

# Authentication
AWESOME_PERSONAL_LIST_ADMIN_USER=test
# Password has to have 8 characters or more
AWESOME_PERSONAL_LIST_ADMIN_PASSWORD=testtest
AWESOME_PERSONAL_LIST_BIND=127.0.0.1
AWESOME_PERSONAL_LIST_PORT=48889

# Optional, for less rate limiting from software heritage
SWH_API_TOKEN=

# Github and Gitlab token for less rate limiting for lang checker (only applicable to mirrored repos, and first time only)
GITHUB_TOKEN=
GITLAB_TOKEN=

# Public generation
EXPORT_PATH=public/AWESOME.md
