<div class="page-head">
<h1 class="page-title">$NAME$</h1>
</div>

<form class="form-card" method="post" action="/categories/$SLUG$">
<input type="hidden" name="csrf" value="$CSRF$">
<input type="hidden" name="_method" value="put">
<label>[[fields.name]]<input type="text" name="name" value="$NAME$" $DISABLED$></label>
<label>[[fields.description]]<input type="text" name="description" value="$DESCRIPTION$" $DISABLED$></label>
<label>[[fields.color]]<input type="color" name="color" value="$COLOR$" $DISABLED$></label>
$SAVE_ACTIONS$
</form>

$DELETE_FORM$
