<div class="login-card">
<h1>[[login.title]]</h1>
<p class="lede">awesome-personal-list</p>
<p class="flash flash-error">$ERROR$</p>
<form method="post" action="/login">
<input type="hidden" name="next" value="$NEXT$">
<label>[[login.name_label]]<input type="text" name="name" autofocus></label>
<label>[[login.password_label]]<input type="password" name="password"></label>
<div class="form-actions">
<button type="submit" class="btn btn-primary btn-block">[[login.submit]]</button>
</div>
</form>
</div>
